*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}
.bg-1{
    position: absolute;
    top:0;
    left: 0;
}
.bg-2{
    position: absolute;
    top:0;
    right: 0;
}
/* top header area   */


.top-header{
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: space-between;
}
.logo{
    z-index: 1;
    flex-basis: 30%;
}
.logo a{
    font-size: 50px;
    line-height: 30px;
    font-weight: 600;
    color: #54BD95;
    
}
.menu{
    flex-basis: 70%;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
    z-index: 1;
}
nav ul li{
    display: inline;
    margin-left: 40px;
}
nav ul li a{
    color: #A6A6A6;
}
nav ul li a:hover{
    color: #000000;
}
.login{
    color: #A6A6A6;
    margin-right: 20px;
}
.signup{
    background-color: #54BD95;
    border-radius: 10px;
    padding: 10px;
    color: #F8F8FA;
}

/* top header area end  */


/* banner css  */

.banner{
    dis
}